header{
background-color: #f8a100;
.navbar-toggler-icon{
    background-color: black;
    border-radius: 20px;
}
.logo{
  display: flex;
}
.logo-img{
  height: 90px;
}
    nav{
        position: relative;
        z-index: 1000;
        ul{
            list-style:none;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            align-content: center;
            .nav-item{             
                display: inline-block;
                margin: 5px;
                padding: 5px;
                text-decoration: none;
                background-color:red;
                color: aliceblue;
                text-decoration: none;
                padding: 5px;
                font-family: 'Poppins', sans-serif; 
                border-radius: 12px;  
                :hover{
                        color: black;
                    }
                }

            }

        }

}
