$colorUno: #f8a100;
$colorDos: red;
header{
    background-color: $colorUno;
}
main{
    background-color: $colorDos;
}
footer{
    background-color: $colorUno;
}
.producto h2{
    background-color: $colorUno;
}
.envios h2{
    background-color: $colorUno;
}
.bienvenidos div h1{
    background-color: $colorUno;
}
.bienvenidos h2{
    background-color: $colorUno;
}
@mixin center ($center){
    text-align: $center;
    padding: 50px;
}
@mixin flex ($flex, $justify){
    display: $flex;
    justify-content: $justify;
}
.producto h2{
    @include flex (flex, center) 
}
.envios h2{
    @include flex(flex, center)
}
.envios div h3{
    @include center(center)
}
.bienvenidos div h3{
    @include center(center)
}